.content {
    height: 100%;
}

core-toolbar {
    opacity: 0;
}

.title {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    -webkit-filter: blur(20px);
    margin: -20px;
}