:host {
    display: block;
    border: 1px solid grey;
    float: left;
}


img {
    max-height: 200px;
    /*max-width: 200px;*/
}

#preview {
    min-width: 200px;
    height: 200px;
}

#preview a {
    display: none;
}

#info {
    font-family: helvetica, arial, sans-serif;
    font-size: 0.8em;
    color: grey;
}

#info a {
    color: grey;
}

#info a:visited {
    color: darkgrey;
}

#title {
    clear: right;

}
