:host {
    display: block;
    border: 1px solid grey;
    float: left;
}


img {
    max-height: 200px;
    /*max-width: 200px;*/
}

#preview {
    min-width: 200px;
    height: 200px;
}

#title {
    clear: right;
}